.button-icon{
    width: 50%;
    margin:auto;
    margin-bottom: 20px;
    position:relative;
}

.btn{
    width:80%;
    padding:20px;
    border-radius:10px;
    text-align:left;
}

.edit-icon{
    position: absolute;
    right: 30%;
    top: 20px;
    cursor: pointer;
}
.delete-icon{
    position: absolute;
    right: 15%;
    top: 20px;
    cursor: pointer;
}